.cabecera {
    width: 100%;
    background-color: black;

}

.logo {

    width: 70px;
    height: 50px;

}
.logo:hover{
    transition: all 3s;
    transform: scale(2);
}

.navegador{
    display: flex;
    justify-content: end;
    }

.navegador li a {
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
   
}

.fotos img {
    width: 350px;
    margin: 30px;
    padding: 5px;
    border: solid black;
    display: flex;
    justify-content: center;
    display: inline-block;
    
    
}


.info {
    margin: 40px;
    justify-content: center;

    
}

.contactos{
    
    margin: 70px;
    display: flex;
    justify-content: center;

}

.contactos:hover {
    transition:all 3s ;
    transform: scale(2);
    animation-duration: 3s initial;

}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.caja{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}




    





